.type {
    display: inline-block;
    padding: 3px;
    margin: 10px;
}

.input {
    display: block;
}

.label {
    display: flex;
    text-align: center;
}

.wrapper {
    padding:5px;
    border: 1px solid black;
    margin:5px;
}

.space {
    margin-right: 10px;
}

